/* ==== 
 --------- (5.14) counter section styles start ---------
 ==== */
.counter {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 400px;
  padding: clamp(80px, 8vw, 120px) 0px;
  margin: 100px 0px 30px 0px;
  color: var(--white);

  .counter__header {
    position: relative;
    z-index: 2;
    max-width: 920px;
    margin: 0px auto 46px;
    text-align: center;

    h2 {
      color: var(--white);
      font-weight: 800;
      margin-bottom: 16px;
    }

    p {
      color: rgba(255, 255, 255, 0.944);
      font-size: clamp(22px, 1.6vw, 25px);
      line-height: 1.75;
      margin: 0px;
    }
  }

  .counter__inner {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 220px), 1fr));
    gap: 40px;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }

  .counter__single {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    height: 100%;
    text-align: center;
    transition: var(--transition);

    &:hover {
      .thumb {
        border-color: var(--base-color);
        background-color: var(--base-color);

        i {
          color: var(--black);
        }
      }
    }

    div {
      line-height: inherit !important;
    }

    .thumb {
      @include box(90px);
      border: 1px solid var(--white);
      transition: var(--transition);
      margin-inline: auto;
      margin-bottom: 24px;

      i {
        font-size: 30px;
        color: var(--white);
        transition: inherit;
      }
    }
  }

  .counter__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;

    h3 {
      color: var(--white);
      font-size: clamp(22px, 1.5vw, 26px);
      font-weight: 800;
      line-height: 1.25;
      margin-bottom: 0px;
    }
  }

  .poor {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    z-index: -3;

    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      background: linear-gradient(
        -104deg,
        rgba(12, 26, 23, 0) 1.9%,
        rgba(9, 31, 27, 0.08) 16.64%,
        rgba(9, 31, 27, 0.17) 28.59%,
        rgba(9, 31, 27, 0.37) 38.19%,
        rgba(9, 31, 27, 0.67) 56.36%,
        #091f1b 61.29%,
        #091f1b 95.2%,
        rgba(9, 31, 27, 0.91) 103.44%
      );
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0px;
      pointer-events: none;
      border-radius: inherit;
      background: rgba(1, 7, 24, 0.651);
    }

    .parallax-image-wrap,
    .parallax-image-inner {
      position: absolute;
      inset: 0px;
      width: 100%;
      height: 100%;
      z-index: -3;
    }

    .parallax-image {
      width: 100%;
      height: 100%;
    }
  }
}
/* ==== 
 --------- (5.14) counter section styles end ---------
 ==== */
