/* ==== 
 --------- (5.01) partner section styles start ---------
 ==== */

.partner {
  padding: clamp(25px, 4vw, 60px) 0px;
  background-color: transparent;

  .partner__header {
    max-width: 860px;
    margin-inline: auto;
  }

  .partner__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 18px;
    padding: 0px;
    margin: 0px auto;
    list-style: none;
  }

  .partner__logo-card {
    display: flex;
    min-height: 150px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;

    img {
      width: min(100%, 145px);
      height: auto;
      object-fit: contain;
    }
  }

}

@media only screen and (max-width: 991px) {
  .partner {
    .partner__grid {
      grid-template-columns: repeat(2, minmax(0px, 1fr));
    }
  }
}

@media only screen and (max-width: 575px) {
  .partner {
    .partner__grid {
      gap: 12px;
    }

    .partner__logo-card {
      min-height: 96px;
      padding: 16px;
    }
  }
}

/* ==== 
 --------- (5.01) partner section styles end ---------
 ==== */
